---
layout: default
---
{%- assign _downloads = site.downloads | sort: 'order' -%}
{%- include header.html scrolly_nav=_downloads -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include download.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Sections -->
	{%- for _download in _downloads -%}
		{%- include download.html title=_download.title photo=_download.cover-photo photo-alt=_download.cover-photo-alt auto-header=_download.auto-header content=_download.content -%}
	{%- endfor -%}
</div>
